@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-image: url(https://4.bp.blogspot.com/-vnWb_sU4uYE/U5NjfFTg0gI/AAAAAAAInjA/YC-35rOL2M4/s1600/02.jpg);
    background-size: cover;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: rgb(76, 175, 158);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px 1px;
    cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}
input[type=number] {
    -moz-appearance:textfield; 
}
input[type=number] {
    width: 50%;
    padding: 7px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: transparent;
    outline: none;
    color: rgb(158, 156, 156);
}
input[type=number]:focus {
    background-color: rgb(136, 218, 177);
}
.let{
    font-size: 15pt;
    color: rgb(127, 127, 161);
}
.hola{
    margin: 30px 30px;
    padding: 15px;
    width:400px;
    height:700px;
    margin: 40px 40px 70px;
    background-color: rgba(146, 146, 146, 0.200); 
    position: relative;
    box-sizing: border-box;
 }
 .estilo{
    background-color: rgb(76, 175, 158);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px 1px;
    cursor: pointer;
 }
 .cuadro{
    width:800px;
    height:700px;
    margin: -685px 450px 70px;
    padding: 15px;
    background-color: rgba(146, 146, 146, 0.200); 
    position: relative;
    box-sizing: border-box;
 }